#header{
    
    white-space: nowrap;
    
}

body { padding: 0; margin: 0; width: 100%; height: 100% }

.stretch{
	width: 100%px; padding: 0; margin: 0;
}


#email1{
	background-image: url("../assets/black.png");
	height: 400px;
	padding-left: 200px;
	padding-top: 40px;
	width: 100%;
}

.tbox{
	color: white;
	width: 1000px;
	font-family: arial;
	padding-left: 30px;
	}

#email1:hover >.tbox{
	border-left: solid 20px orangered;
	padding-left: 10px;
}

.tbox h1{
	margin-bottom: 20px;
	font-size: 80px;
}

.tbox h2{
	font-weight: 100;
}

#email2{
	background-color: #e1e5eb;
	height: 500px;
	padding-top: 50px;
	padding-left: 150px;
	padding-bottom: 40px;
}

#email2 h2{
	font-size: 30px;
}


.gray{
	color: gray;
	font-family: arial;
}

.elinks a{
    color: white;
    text-decoration: none;
    overflow: hidden;
 
    
}

.ebutton{
	font-family: arial;
	padding-top: 15px; 
    padding-left: 20px;
    padding-right: 25px;
    font-size:17px ;
    margin-right: 10px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: gray;
     height: 90px;
    width: 275px;
    border-bottom: ridge 7px black;
   
}

.ebutton a{
	display: block;
    height: 100%;
    width: 100%;
}

.ebutton:hover{
	background-color: orangered!important;
}

.elinks{
	padding:0px;
	margin:0px;
	margin-top: 50px;
    overflow: hidden;
    height: 200px;
    display: flex;
    float: left;
    clear: both;
}




.bulk_text{
	width: 975px;
}


#email2 ul{
	list-style: none;
}


