body { padding: 0; margin: 0; width: 100%; height: 100% }

#footer{
	background-image: url("../assets/gray.png");
	height: 400px;
}

#footer h2{
	font-size: 30px;
	font-family: arial;
	color: white;
	font-weight: 100px;

}

.text_box{
	padding-top: 27px;
    margin-left: 515px;
    width: 538px;
}

.sub-text{
	color: white;
	font-family: arial;
}

.bold{
    font-weight: bold;
}
