

#header-container{
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
   
   
}

#header-container ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    overflow: hidden;
    
}   

.hbutton a{
    display: block;
    height: 100%;
    width: 100%;
}



.hbutton:hover{
    background-color: orangered!important;
}

.hbutton a:visited{
    font-weight: normal!important;
  
}

li{
    display: inline-block;
    padding: 0px;

}

.header {
    margin:0px;
    overflow: hidden;
    height: 60px;
    display: flex;
    float: left;
    clear: both;
    width:100%;
}

#top-header{
    
    background-color: black;
    
}

#bottom-header{
    background-color: #171e28;
    
    
}



.hbutton{
    font-size:25px ;
    font-family: arial;
    padding: 2px;
    margin-right: 1px;
    color: white;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
   
   
}

.hbutton .material-icons{
    font-size:50px;
}

.bold{
    font-weight: bold;
}



.mid-blank{
    margin-right: 2px;
}

.first{
    margin-left:150px;

}

#last{
    margin-right: 2px;
}

.image{
    margin-top: 10px;
}

#home{

    font-size: 50px;
}