#header-container{
    position: absolute;
    height: 100px;
    width: 100%;
    
    white-space: nowrap;
   
   
}

a{
    color: white;
    text-decoration: none;
    overflow: auto;
    
}


.hbutton:hover{
    background-color: orangered!important;
}

#top-header ol{
    display: inline-block;

}


#top-header{
    float: left;
    clear: both;
    width:100%;
    background-color: black;
    
}

#bottom-header{
   float: left;
   clear: both;
   width:100%;
    background-color: #1E1D1D;
    
    
}

#bottom-header ol{
    display: inline-block;
    background-color: #1E1D1D;
}

.hbutton{
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    font-size:25px ;
    margin-right: 2%;
    color: white;
   
}

.bold{
    font-weight: bold;
}



.mid-blank{
    margin-right: 3%;
}

.first{
    margin-left:5%;

}

#last{
    margin-right: 5%;
}

.image{
    margin:0px
}