<header>

    <head>
        <link rel="stylesheet" type="text/css" href="header.css">
    </head>

    <body id="header-container">
        <div id="top-header">
            <ol class="hbutton first image" button ><a href="Recently Visited">Recently Visited</ol>
            <ol class="hbutton bold"><href="Register Technical Date">Register Technical Date</ol>
            <ol class="hbutton bold"><a href ="Raise a Query">Raise a Query</ol>
            <ol class="hbutton bold"><a href= "Exhibitions">Exhibitions & Conferences</ol>
            <ol class="hbutton bold"><a href="hbutton bold"> Aquire licences</ol>
            <ol class="mid-blank"></ol>
            <ol class="image"><a href="a"><img src="../assets/test.png"> </ol>
            <ol class="image"><a href="a"><img src="../assets/test.png"> </ol>
            <ol class="image"><a id=last href="a"><img src="../assets/test.png"> </ol>
        </div>
        <div id="bottom-header">
                <ol class="first image" href="a"><img src="../assets/test.png"> </ol>
                <ol class="hbutton bold"><a href="A-Z of Export Control">A-Z of Export Control</ol>
                <ol class="hbutton bold"><a href="Complience quotes">Complience quotes</ol>
                <ol class="hbutton bold"><a href "Support">Support</ol>
                <ol class="hbutton bold"><a href "About export control">About export control</ol>

        </div>

    </body>

</header>