<!DOCTYPE html>
<html>
<head>

  
      
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("header.html"); 
  $("#footer").load("footer.html"); 
});
</script>




<body>
     <header id="header">
        <!-- Content will be inserted by jQuery from header.html -->
      </header>   

      <div class="content">
      {{ content }}
    </div>

  <footer id="footer">
        <!-- Content will be inserted by jQuery from footer.html -->
      </footer>   
</body>



</html>